nav#main-nav
    a.logo(href="index.html"): img(src=require("../media/logo-simple.png"))
    ul.list-links
        li: a(href='#/home' run-splash) Inicio
        li: a(href='#/aboutus' run-splash) Nosotros
        li: a(href='#/services' run-splash) Servicios
        li: a(href='#/contact' run-splash) Contacto
        li: a(href="#"): i.fa.fa-facebook