section.sec#home(fit-container)
    div.container
        div.d-block.w-6(fit-fz)
            span.fw-bold Hacemos tu
            span.fw-bold página web
            span(data-line-height="30") empresarial, ecommerce, applicación web y más.
        div.d-block
            a.btn.btn-orange Conoce nuestros servicios