section.sec#aboutus(fit-container)
    div.container.pdtop-100
        div.nose
            img(src=require("../media/aboutus-01.png")).img-fluid
            div.content
                h1 Somos los indicados para crear productos digitales y disruptivos que te harán crecer.
                p Somos una <b>startup</b> de desarrollo de web y aplicaciones que ayuda a nuestrso clientes a abordar la demanda y desafíos de ejecución de sus negocios con la imprementación de una misión crítica. Creamos productos web y aplicaciones moviles escalables y seguros.

        br
        br
        div.d-block
            h2.text-center Entregados al crecimiento y al exito
            br
            small.d-block.text-center a nuestros clientes y a su vez, a nosotros mismos.
            br
            p.d-block.w-8.text-center.mx-auto Con ideas innovadoras y capacidad para crear aplicaciones escalables y de alto rendimiento junto con un soporte constante. Nosotros ayudamos a nuestros clientes a llegar al mercado rápidamente y alcanzar sus objetivos.